<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><a href="/">Home</a></h3>
    <nav class="nav nav-masthead justify-content-center">
      {% for registered_page in site.page_names %}
        {% if registered_page == page.title  %}
          {% if registered_page != "home"  %}
            <a class="nav-link active" href="/{{ registered_page }}"><span class="text-capitalize">{{ registered_page }}</span></a>
          {% endif %}
        {% else %}
          {% if registered_page != "home"  %}
            <a class="nav-link" href="/{{ registered_page }}"><span class="text-capitalize">{{ registered_page }}</span></a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>