<!doctype html>
<html lang="en">

<!-- Post Header -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>

{% include head.html %}

<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        {% include nav.html %} 
        <br/> <br/> <br/> <br/> 
        
        <h1> {{ page.title }} </h1>
        <div >
            {% for tag in page.tags %}
            <span class="badge badge-info" ><a class="tag" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a></span>
            {% endfor %}
        </div>

        <br/> 

        {{ content }}

        {% if disqus_username %}
        <div class="comment">
            <div id="disqus_thread" class="disqus-thread"></div>
        </div>
        {% endif %}

        {% include foot.html %}
    </div>
    
    {% include bootstrap_script.html %}
</body>


</html>